.vic_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.vic_img_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    padding-top: 3em;
    position: relative;
}




.vic_img_div div {
    width: clamp(30px, 6vw, 40px);
    margin: aut auto;
}

/* .vic_1 {
    padding-left: 2em;
} */



.vic_1, .vic_2, .vic_left, .vic_right {
    cursor: pointer;
}

.vic_1:hover, .vic_2:hover .vic_left:hover, .vic_right:hover {
    filter: blur(0.5px);
    width: 50px;
    
  
}

.vic_3 {
    width: 100%;
    max-width: 40px;
}

.vic_2 {
    display: none;
}

.vic_content h3 {
    color: #1C1C1C;
    font-size: clamp(1em, 3vw,1.5em);
    font-weight: 600;
    margin: 0.5em;
}

.vic_img_and_direction {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;
}

.vic_image_preview_div {
    width: clamp(300px, 3vw, 500px);
    display: grid;
    place-items: center;
    margin: 2em;
    border-radius: 10.7848px;
}


.vic_left, .vic_right {
    width: 7%;
    max-width: 35px;
}


@media (min-width: 768px) {

    .vic_1 {
        display: none;
    }

    .vic_2 {
        display: block;
    }
}