.about__content-ony{
    display: flex;
    align-items: center;
}

.about__title-ony{
    font-size: 67px;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-weight: 700;
}
.aiii-ony{
    color: #8B70E9;
}

.about__description-ony{
    width: 471px;
    color: #212529;
}

.about__image-ony{
    width: 70%;
    margin-left: 3rem;
    padding-left: 3rem;
}

.about__support__title-ony{
    width: 373px;
    font-size: 25px;
    color: #8B70E9;
}

.about__image__title-ony{
    padding-left: 6rem;
    font-size: 16px;
}

.about__courses-ony{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.about__courses__description-ony{
    width: 362px;
}

.about__courses__description2-ony{
    width: 360px;
}

.about__courses__description3-ony{
    width: 341px;
}

.aboutus__title-ony{
    width: 471px;
    padding-left: 6rem;
    padding-bottom: 1.5rem;
}

.courses__title-ony{
    padding-left: 6rem;
    padding-top: 3rem;
    padding-bottom: .7rem;
    color: #8B70E9;
    font-size: 25px;
}

.about__cta-ony{
    font-size: 67px;
    font-weight: 700;
    width: 834px;
    text-align: center;
    margin: 0 auto;
    padding: 7rem 0;
}
.about__course__title-ony{
    font-size: 20px;
    font-weight: 700;
}
@media(max-width: 380px){
    .about__title-ony{
        font-size: 24px;
        text-align: center;
        padding-top: 6rem;
        padding-bottom: 2rem;
        font-weight: 700;
    }
    .about__content-ony{
        display: flex;
        flex-direction: column;
    }

.about__description-ony{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.about__image-ony{
    width: 70%;
    margin-left: 0rem;
    padding-left: 0rem;
   margin: 0 auto;
}
.about__support__title-ony{
    width: 263px;
    font-size: 16px;
    color: #8B70E9;
    text-align: center;
    margin: 0 auto;
}
.courses__title-ony{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: .7rem;
    color: #8B70E9;
    font-size: 16px;
    
}
.aboutus__title-ony{
    width: 80%;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
}
.about__cta-ony{
    font-size: 24px;
    
    width: 315px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}
.about__courses-ony{
    overflow-x: scroll;
    
   
    
  
}
.tre-ony{
    display: inline-block;
}

.img-ony{
    width: 60%;
   
}
.about__courses__description2-ony{
    width: 331px;
}

.about__courses__description3-ony{
    width: 331px;
}


}