.ai__ony{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}




.second__ai-ony{
    display: flex;
   
    gap: 1rem;
}

.ai___img-ony{
    width: 24%;
    height: 390px;
   
}

.second__ai-ony img{
    width: 300px;
    height: 400px;
 
}

.socialproof__title-ony{
    font-size: 67px;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 2rem;
    font-weight: 700;
}
.aii-ony{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}
@media(max-width: 380px){
    .socialproof__title-ony{
        font-size: 24px;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 313px;
    }
    .ai___img-ony{
        width: 30%;
        height: 101px;

       
    }
    .second__ai-ony img{
        width: 70px;
        height: 101px;
        
        
       
    }
   
    .aii-ony{
        display: flex;
        gap: .5rem;
      
    }
    
    .second__ai-ony{
        display: flex;
       
        gap: .5rem;
    }
}