.main__section-ony{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
body{
    overflow-x: hidden;
}

.a2-ony{
    width: 60%;
   
}

.a1-ony{
    width: 100%;
    padding-right: 48px;
}

.image__description-ony{
    width: 471px;
    font-size: 16px;
    line-height: 30px;
}
.image__description2-ony {
    width: 452px;
    font-size: 16px;
    line-height: 30px;
}
.main__title-ony{
    font-size: 64px;
    text-align: center;
    padding-top: 3.5rem;
    padding-bottom: 2.5rem;
    font-weight: 600;
}

.main__content-ony{
    margin-left: 4rem;
}

.image__title-ony{

    color: #8B70E9;
    font-size: 25px;
    font-weight: 700;
}

@media(max-width: 380px){
    .main__title-ony{
        font-size: 24px;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 236px;
        margin: 0 auto;
    }
    .main__section-ony{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

.image__description-ony{
    width: 300px;
    font-size: 16px;
    line-height: 25px;
    padding: 1rem 0;
    
}
.a2-ony{
    width: 100%;
    height: 300px;
   
}
.main__content-ony{
    margin-left: 0rem;
    margin: 0 0.5rem;
}
.a1-ony{
    width: 100%;
    height: 300px;
    position: relative;
}
.main__second__ai-ony{
    display: block;
    flex-direction: column-reverse;

}

.image__description2-ony{
    bottom: 0;
    top: 250%;
    margin-top: 6rem;
        width: 300px;
    font-size: 16px;
    line-height: 25px;
    padding: .2rem 0;
    position: absolute;
  
    
    
}
.image__title-ony{

    color: #8B70E9;
    font-size: 25px;
    font-weight: 700;
}

}