.vnc-main {

  display: grid;
  place-content: center;
  padding: 1rem;
  height: inherit;

}

.vnc-icon {
  margin: 0 auto;
  padding-top: 2rem;

}

.vnc-gender {

  display: flex;
  gap: 4rem;

}

.vnc-text {
  text-align: center;
  padding: 2rem 0;
}

.vnc-text h2 {
  font-weight: 600;
  font-size: clamp(.7rem, 3vw, 1.4rem);
}

.vnc-text p {
  font-size: small;
}

.vnc-male,
.vnc-female {

  padding: 0 3rem 2rem;
  border-radius: 16px;
  text-align: center;
  background-color: #FCFAFF;
  width: 160px;
  height: 172px;

}

.vnc-male:hover,
.vnc-female:hover {
  border: 1px solid #8B70E9;
}


.vnc-male p,
.vnc-female p {
  padding: 1rem 0;
}

.vnc_proceed {
  text-align: center;
  margin: 3rem auto;
  background-color: #8B70E9;
  color: white;
  padding: .5rem 2rem;
  border-radius: 8px;
  width: fit-content;

}