.frame-eye-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* width: 369px; */
  width: 75.8%;
  min-height: 1024px;
  height: 100%;
  left: 0px;
  top: 0px;
  /* border: 2px blue solid; */
  background: #fafafa;
}
.search-eye {
  width: 95%;
  /* height: 20%; */
  /* border: 2px green solid; */
}
.welcome-eye {
  width: 95%;
  /* height: 20%; */
  /* border: 2px green solid; */
}
.gender-select-eye {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  /* border: 2px black solid; */
  background-color: white;
}
.one-icon {
  margin: 2% auto;
}
.gender-eye {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* border: 2px black solid; */
}
.gender-eye h1 {
  font-size: large;
  font-weight: bold;
}

.gender-eye h2 {
  font-size: medium;
  /* font-weight: bold;
} */
}
.male-female-eye {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2% auto;
}

.link-eye {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  width: 20%;
  height: 40px;
  background: #8b70e9;
  border-radius: 8px;
  text-align: center;
  color: white;
}
.gender {
  margin: 5%;
}
