.barner{
    position: relative !important;
    color: white !important;
}
.barner-text{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;

}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.473);
}
.contact-form{
    margin: auto;
}
.contact-img{
    margin: auto;
}

@media screen and (max-width: 1000px) {
    .contact-form{
        width: 100vw;
        max-width: 700px;
    }
}
@media screen and (max-width: 595px) {
    .barner h1{
        margin-bottom: 10px !important;
        font-size: medium;
    }
    .barner p{
        font-size: x-large;
        margin-bottom: 10px;
    }
    .barner .barnerBtn{
        padding: 9px;
        font-size: medium;
    }
    .barner-text{
        top: 10%;
    }
}
@media screen and (max-width: 483px) {
    .contact-form{
        padding: 15px !important;
        width: 100vw;
    }
    .barner .barnerBtn{
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.contact-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.438);
    z-index: 1;
    top: 0px;
}
#overlay-hidden{
    display: none;
}
#overlay-visible{
    display: block;
}
.contact-modal{
    width: 90vw;
    max-width: 600px;
    margin: auto;
    margin-top: 15%;
    text-align: center;
}
/* .contact-modal button{
    border: 1px solid red;
} */