.bg{
  background-color: #f7f7f7;
}

.profilePix{
  min-width: 80px;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
@media screen and (max-width: 480px) {
  .profilePix{
    margin: 0;
  }
  .profileDetailsContainer{
    padding: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .form input{
    min-width: 244px;
  }
  .form .edit{
    min-width: 195px;
    box-sizing: border-box;
  }
}