@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.form{
  max-width: 584px;
  width: 87.2%;
  height: 56px;
  box-sizing: border-box;
}


.form{
  position: relative;
}
.searchInput{
  border-radius: 9px;
  border: 1px solid #dbdbdb;
  padding: 0;
  width: 100%;
  height: 100%;
  padding-left: 11.64%;
  padding-right: 14.64%;
  font-family: 'Nunito Sans';
  color: black;
  font-weight: 400;
  line-height: 25px;
  font-size: 18px;
}
.searchInput::placeholder{
  color: #949494;
  font-family: 'Nunito Sans';
  line-height: 25px;
  font-weight: 400;
  font-size: 18px;
}
.searchInput:focus{
  border: none;
  outline: none;
}


@keyframes onGoingSpeech {
  0%{
    scale: 0.9 0.9;
  }
  25%{
    scale: 1 1;
  }
  50%{
    scale: 1.1 1.1;
  }
  75%{
    scale: 1 1;
  }
  100%{
    scale: 0.9 0.9;
  }
}
.search, .microphone{
  width: 3.84%;
  height: 35.71%;
  min-width: 16px;
  min-height: 16px;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
}
.search:active, .microphone:active{
  border: none;
}
.search{
  left: 4.79%;
  top: 31.25%;
}
.ongoingSpeech{
  animation-name: onGoingSpeech;
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-timing-function: linear;
}
.microphone{
  top: 32.14%;
  right: 5.47%;
  transition: 1s;
}
@media screen and (max-width: 400px) {
  .form, .searchInput{
    height: 43px;
    font-size: 14px;
  }
  .searchInput::placeholder{
    font-size: 14px;
  }

}