.section4 {
  font-family: "clash_displaymedium";
  font-weight: unset;
  color: white;
  text-align: center;
  /* padding-top: 7rem; */
}
/* .section4 h2{
    margin-bottom: 2rem;
    font-size: 2rem;
} */
.faqs {
  padding: 4rem;
  box-shadow: 0px 1px 5px 0px rgb(159, 145, 145);
}
.part4 {
  /* padding: 0.5rem; */
  margin: 0 auto;
  width: 60rem;
}
.faq{
  border: 0.5px solid rgb(110, 104, 104);
  margin: 1rem;
  padding: 1rem;
}
.faq div {
  /* padding: 1rem; */
  text-align: left;
  display: flex;
  gap: 2rem;
  font-weight: unset;
  font-size: 1rem;
  align-items: center;
  justify-content: space-between;
}
.viewBtn{
  padding: 0 2rem !important;
  margin: 2rem 0;
}
.bad{
  border: 1px solid #8b70e9;
}
.head h3{
  font-size: 24px;
  font-weight: 500;
}
#anchor {
  /* font-family: "clash_displayregular";
  color: #929292; */
  color: black;
  font-weight: 400;
  text-align: left;
  transition: all 1s linear;
  padding: 0rem 2rem 0rem 0;
  /* padding-right: 3rem; */

  font-size: 0.9rem;
}
.anchor {
  cursor: pointer;
}
.show {
  display: none;
}
.bat3-btn {
  background-color: #8b70e9;
  color: white;
  padding: 0.5rem 2rem;
  margin: 3rem 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  z-index: 999;
}
.part4 h2{
  margin-bottom: 1rem;
}
.head{

}
@media screen and (max-width: 1000px) {
  #benefits {
    font-size: 12px;
  }
  .faqs{
    padding: 2rem;
    width: unset;
  }
  .part4{
    width: unset;
  }
}
@media screen and (max-width: 800px) {
  #benefits {
    font-size: 10px;
  }
  .part4 {
    /* min-width: 44rem; */
    width: 40rem;
    font-size: 3rem;
    /* padding: 2rem; */
  }
  .head h3{
    font-size: 1rem;
  }
  #anchor {
    font-size: 1rem;
    font-weight: 400;
    /* padding-right: 1rem; */
  }
}
@media screen and (max-width: 600px) {
  .part4 {
    width: unset;
    /* padding: 2rem; */
  }
  .head h3{
    font-size: 14px;
    font-weight: 700;
  }
  .faqs {
    padding: 0.5rem;
  }
}
@media screen and (max-width: 450px) {
  #benefits {
    font-size: 9px;
  }
  .part4 {
    width: unset;
    /* padding: 2rem; */
  }
  .head h3{
    font-size: 12px;
  }
  #anchor{
    font-size: 10px;
  }
  /* .section4 h2{
    font-size: 1.5rem;
  } */
}
@media screen and (max-width: 375px) {
  #benefits {
    font-size: 8px;
  }
  .head h3{
    font-size: 12px;
  }
  .part4 {
    width: unset;
    /* padding: 3rem; */
  }
}
