.any-sect{
    text-align: center;
   /* max-width: 400px; */
    margin: 5rem auto;
    padding: 0 1rem;
}

.be{
    color: black;
    font-size: 40px;
    font-weight: 800;
}
.any-sect p{
    width: 40%;
    font-weight: 500;
    margin: 0 auto;
    font-size: 12px;
}
.button-bat{
    background-color: #8B70E9;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
}
@media only screen and (max-width: 1150px) {
    .be{
        font-size: 30px;
    }
    .any-sect p{
        width: 70%;
    }
}
@media only screen and (max-width: 800px) {
    .be{
        font-size: 24px;
    }
}
@media only screen and (max-width: 500px) {
    .be{
        font-size: 16px;
    }
    .any-sect p{
        width: 100%;
    }
}