.any-sect{
    text-align: center;
   /* max-width: 400px; */
    margin: 5rem auto;
    padding: 0 1rem;
}

.be{
    color: #3a3a3a;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
}
.any-sect p{
    width: 70%;
    font-weight: 500;
    margin: 0 auto;
    font-size: 24px;
}
.button-bat{
    background-color: #8B70E9;
    color: white;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    border: none;
    border-radius: 5px;
}
@media only screen and (max-width: 1150px) {
    .be{
        font-size: 30px;
    }
    .any-sect p{
        width: 70%;
    }
}
@media only screen and (max-width: 800px) {
    .be{
        font-size: 28px;
    }
    .any-sect p{
        width: 80%;
    }
}
@media only screen and (max-width: 580px) {
    .be{
        font-size: 24px;
    }
    .any-sect p{
        width: 80%;
    }
    .any-sect{
        margin: 3rem 0;;
    }
}

@media only screen and (max-width: 500px) {
    /* .be{
        font-size: 16px;
    } */
    .any-sect p{
        width: 95%;
        font-size: 12px;
    }
}