@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Nunito', sans-serif;
}

.larActive {
    color: "red";
}