
.header{
    display: grid;
    grid-template-columns: 55% 40%;
    padding: 0rem 8rem;
}
.header__content-ony{
   margin-top: 5rem;
   width: 100%;
 
}
.header__title-ony{
    font-size: 74px;
    line-height: 83px;
    /* width: 960px; */
    /* text-align: center; */
    margin: 0 auto;
    font-weight: 700;
}
.button{
    margin-top: 1rem;
    background-color: #8B70E9;
    color: white;
    padding:0.5rem 1rem;
    border: none;
    border-radius: 5px;
}
.header__description-ony{
    font-size: 20px;
    line-height: 26px;
    width: 80%;
    color: #605E65;
}
.hero-img img{
    margin-top: 5rem;
    width: 80%;
}
.header__description2-ony{
    text-align: center;
    color: #212529;
    width: 743px;
    font-size: 20px;
    margin: 0 auto;
    margin-top: 6rem;
    line-height: 27px;
}

.span__color-ony{
    color: 
    #8B70E9;
}

.tech__logos-ony{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 4rem;
    
}

.tech__logo-ony{
    display: flex;
}
@media only screen and (max-width: 1300px) {
    .header{
        padding: 0 5rem;
    }
    .header__title-ony{
        font-size: 64px;
        /* width: 75%; */
        line-height: 1.2;
    }
    .hero-img img{
        margin-top: 5rem;
        width: 80%;
    }
    .hero-img img{
        margin-top: 5rem;
        width: 90%;
    }
    
    
}
@media only screen and (max-width: 1050px) {
    .header__title-ony{
        font-size: 54px;
        /* width: 75%; */
    }
}
@media only screen and (max-width: 900px) {
    .header{
        padding: 0rem 3rem;
    }
    .header__title-ony{
        font-size: 44px;
    }
    .header__description-ony{
        font-size: 14px;
        width: 90%;
    }
    .hero-img img{
        margin-top: 5rem;
        width: 100%;
    }
}
@media only screen and (max-width: 650px) {
    .header__title-ony{
        font-size: 34px;
    }
}
@media only screen and (max-width: 560px) {
    .hero-img{
        margin-top: 4rem;
    }
    .header{
        gap: 5%;
    }
    .header__title-ony{
        font-size: 24px;
    }
    .header__description-ony{
        font-size: 12px;
        line-height: 1.3;
        width: 100%;
        color: #605E65;
    }
    

}

@media(max-width: 460px){
    .header{
        display: flex;
        flex-direction: column-reverse;
        /* grid-template-columns: 100%; */
        text-align: center;
    }
    .header__content-ony{
        margin-top: 2rem;
    }
    .hero-img img{
        width: 80%;
        margin: 0 auto;
        margin-top: 0;
    }
    .header__title-ony{
        font-size: 34px;
        line-height: 1.2;
        /* width: 400px; */
        
        text-align: center;
        margin: 0 auto;
    }
    .header__description-ony{
        font-size: 12px;
        text-align: center;
        line-height: 1.5;
        color: #605E65;
        padding-top: 1rem;
    }
    }