.bat-header{
    background-image: url("https://res.cloudinary.com/dzqaqbrng/image/upload/v1670933634/header_11zon_sl6hur.jpg");
    height: 35rem;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 100% ;
    background-size: cover;
    text-align: center;
    color: white;
    z-index: 9;
    position: relative;
}
.bat-header-overlay{
    background-color: rgba(0, 0, 0, 0.2);
    height: 35rem;
    width: 100%;
    position: absolute;
    top: 0%;
}
.bat-header-content {
    position: relative;
    z-index: 99;
    color: white;
    padding: 10rem 0;
}
.bat-header-content h2 {
    font-size: 60px;
    font-weight: 600;
    z-index: 999;
    color: white;
    width: 50%;
    line-height: 1;
    margin: 0 auto;
}
.bat-header-content p {
    width: 30%;
    font-size: 20px;
    margin: 0 auto;
    z-index: 999;
    margin-top: 1rem;
    color: white;

}
.bat-header-content span{
    color: #8B70E9;
    z-index: 999;
    /* font-size: 60px; */
}
.bat-link{
    background-color: white;
}
.bat-btn{
    background-color: #8B70E9;
    color: white;
    padding: 0.5rem 1rem;
    margin: 2.5rem 0;
}

@media only screen and (max-width: 1200px) {
    .bat-header-content h2 {
        font-size: 54px;
    }
}
@media only screen and (max-width: 1024px) {
    .bat-header-content h2 {
        width: 70%;
        font-size: 44px;
    }
    .bat-header-content p {
        width: 50%;
        font-size: 18px;
    }    
}

@media only screen and (max-width: 756px) {
    .bat-header-content h2 {
        width: 70%;
        font-size: 34px;
    }
    .bat-header-content p {
        width: 60%;
        font-size: 16px;

    }    

}
@media only screen and (max-width: 550px) {
    .bat-header{
        /* background-size: contain; */
        height: 23rem;
        background-position: 70% ;

    }
    .bat-header-content p {
        width: 70%;
        font-size: 13px;
    }    
    .bat-header-overlay{
        height: 20rem;
    } 
    .bat-header-content{
        padding: 3rem 0;
    }
}
@media only screen and (max-width: 420px) {
    .bat-header-content h2 {
        width: 95%;
        font-size: 24px;
    }
    .bat-header-content p {
        width: 90%;
    }    

}